API_HOST="0.0.0.0"
API_PORT="8000"
CORS_ORIGINS="http://localhost:8060,http://127.0.0.1:8060"

LLM_MODEL_ID=""
LLM_API_KEY=""
LLM_BASE_URL=""
MEMORY_PATH="./memory_data"

QDRANT_URL="http://127.0.0.1:6333"
SQLITE_PATH="./data/cyber_town.db"
